In [3]:
# Importing Dataset
import pandas as pd
data = pd.read_excel("/content/drive/MyDrive/Lab/ML/Lab_2/titanic.xlsx")
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [4]:
missing_data = data.isna().sum()
missing_data

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
# Age Null Values Handling
mean_age = data["Age"].mean()
mean_age = int(mean_age)

data["Age"] = data["Age"].apply(lambda ele : mean_age if pd.isna(ele) else ele)
data.head(50)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,0,3,"Ilieff, Mr. Ylio",male,30.0,0,0,349220,7.8958,NaN,S
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,0,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,0,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,1,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,0,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,0,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,30.0,0,0,PC 17598,31.6833,NaN,S
23,915,0,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,0,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,0,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,0,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,0,3,"Samaan, Mr. Elias",male,30.0,2,0,2662,21.6792,NaN,C
30,922,0,2,"Louch, Mr. Charles Alexander",male,50.0,1,0,SC/AH 3085,26.0000,NaN,S
31,923,0,2,"Jefferys, Mr. Clifford Thomas",male,24.0,2,0,C.A. 31029,31.5000,NaN,S
32,924,1,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.0,1,2,C.A. 2315,20.5750,NaN,S
33,925,1,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,30.0,1,2,W./C. 6607,23.4500,NaN,S
34,926,0,1,"Mock, Mr. Philipp Edmund",male,30.0,1,0,13236,57.7500,C78,C
35,927,0,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.5,0,0,2682,7.2292,NaN,C
36,928,1,3,"Roth, Miss. Sarah A",female,30.0,0,0,342712,8.0500,NaN,S
37,929,1,3,"Cacic, Miss. Manda",female,21.0,0,0,315087,8.6625,NaN,S
38,930,0,3,"Sap, Mr. Julius",male,25.0,0,0,345768,9.5000,NaN,S
39,931,0,3,"Hee, Mr. Ling",male,30.0,0,0,1601,56.4958,NaN,S
40,932,0,3,"Karun, Mr. Franz",male,39.0,0,1,349256,13.4167,NaN,C
41,933,0,1,"Franklin, Mr. Thomas Parham",male,30.0,0,0,113778,26.5500,D34,S
42,934,0,3,"Goldsmith, Mr. Nathan",male,41.0,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,1,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.0,0,0,237249,13.0000,NaN,S
44,936,1,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.0,1,0,11753,52.5542,D19,S
45,937,0,3,"Peltomaki, Mr. Nikolai Johannes",male,25.0,0,0,STON/O 2. 3101291,7.9250,NaN,S
46,938,0,1,"Chevre, Mr. Paul Romaine",male,45.0,0,0,PC 17594,29.7000,A9,C
47,939,0,3,"Shaughnessy, Mr. Patrick",male,30.0,0,0,370374,7.7500,NaN,Q
48,940,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.0,0,0,11813,76.2917,D15,C
49,941,1,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.0,0,2,C.A. 37671,15.9000,NaN,S

In [ ]:
# Fare Null Values Handling
mean_fare = data["Fare"].mean()
mean_fare = int(mean_fare)

data["Fare"] = data["Fare"].apply(lambda ele : mean_fare if pd.isna(ele) else ele)
data.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,0,3,"Ilieff, Mr. Ylio",male,30.0,0,0,349220,7.8958,NaN,S
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,0,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,0,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,1,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C

In [ ]:
# HasCabin Label Encoding
data["HasCabin"] = data["Cabin"].apply(lambda ele : 0 if pd.isna(ele) else 1)
data.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,0
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S,0
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q,0
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,0
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C,0
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,0
10,902,0,3,"Ilieff, Mr. Ylio",male,30.0,0,0,349220,7.8958,NaN,S,0
11,903,0,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S,0
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S,1
13,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,0
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,1
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,0
16,908,0,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q,0
17,909,0,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C,0
18,910,1,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S,0
19,911,1,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C,0

In [ ]:
# Sex Label Encoding
# male -> 0
# female -> 1

# Manual
# data["Sex"] = data["Sex"].map(lambda ele : 0 if ele == 'male' else 1)
# data.head(10)

from sklearn import preprocessing

# Using Label Encoder
# labelEncoder = preprocessing.LabelEncoder()
# data["Sex"] = labelEncoder.fit_transform(data["Sex"])
# data.head(15)

# Using One hot Encoder
oneHotEncoder = preprocessing.OneHotEncoder(sparse_output=False)
encodedData = oneHotEncoder.fit_transform(data[["Sex"]])
encodedData

encodedData = pd.DataFrame(encodedData, columns=oneHotEncoder.get_feature_names_out(["Sex"]))
encodedData

data = pd.concat([data, encodedData], axis=1)
data = data.drop(['Sex'], axis=1)
data

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male
0,892,0,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,Q,0,0.0,1.0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,S,0,1.0,0.0
2,894,0,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,Q,0,0.0,1.0
3,895,0,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,S,0,0.0,1.0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,S,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",30.0,0,0,A.5. 3236,8.0500,NaN,S,0,0.0,1.0
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",39.0,0,0,PC 17758,108.9000,C105,C,1,1.0,0.0
415,1307,0,3,"Saether, Mr. Simon Sivertsen",38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0,0.0,1.0
416,1308,0,3,"Ware, Mr. Frederick",30.0,0,0,359309,8.0500,NaN,S,0,0.0,1.0
417,1309,0,3,"Peter, Master. Michael J",30.0,1,1,2668,22.3583,NaN,C,0,0.0,1.0

In [ ]:
# Embarked Label Encoding

# Manual
# C -> 0, Q -> 1, s -> 2
# data["Embarked"] = data["Embarked"].map({ 'C' : 0, 'Q' : 1, 'S' : 2 })
# data.head(10)

# Using Label Encoder
labelEncoder = preprocessing.LabelEncoder()
data["Embarked"] = labelEncoder.fit_transform(data["Embarked"])
data.head(15)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male
0,892,0,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,1,0,0.0,1.0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,2,0,1.0,0.0
2,894,0,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,1,0,0.0,1.0
3,895,0,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,2,0,0.0,1.0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,2,0,1.0,0.0
5,897,0,3,"Svensson, Mr. Johan Cervin",14.0,0,0,7538,9.2250,NaN,2,0,0.0,1.0
6,898,1,3,"Connolly, Miss. Kate",30.0,0,0,330972,7.6292,NaN,1,0,1.0,0.0
7,899,0,2,"Caldwell, Mr. Albert Francis",26.0,1,1,248738,29.0000,NaN,2,0,0.0,1.0
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",18.0,0,0,2657,7.2292,NaN,0,0,1.0,0.0
9,901,0,3,"Davies, Mr. John Samuel",21.0,2,0,A/4 48871,24.1500,NaN,2,0,0.0,1.0
10,902,0,3,"Ilieff, Mr. Ylio",30.0,0,0,349220,7.8958,NaN,2,0,0.0,1.0
11,903,0,1,"Jones, Mr. Charles Cresson",46.0,0,0,694,26.0000,NaN,2,0,0.0,1.0
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",23.0,1,0,21228,82.2667,B45,2,1,1.0,0.0
13,905,0,2,"Howard, Mr. Benjamin",63.0,1,0,24065,26.0000,NaN,2,0,0.0,1.0
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",47.0,1,0,W.E.P. 5734,61.1750,E31,2,1,1.0,0.0

In [ ]:
# Family Status Label Encoding
data["FamilyStatus"] = data.apply(lambda row : 1 if row["SibSp"] > 0 or row["Parch"] > 0 else 0, axis = 1)
data.head(10)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male,FamilyStatus
0,892,0,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,1,0,0.0,1.0,0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,2,0,1.0,0.0,1
2,894,0,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,1,0,0.0,1.0,0
3,895,0,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,2,0,0.0,1.0,0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,2,0,1.0,0.0,1
5,897,0,3,"Svensson, Mr. Johan Cervin",14.0,0,0,7538,9.2250,NaN,2,0,0.0,1.0,0
6,898,1,3,"Connolly, Miss. Kate",30.0,0,0,330972,7.6292,NaN,1,0,1.0,0.0,0
7,899,0,2,"Caldwell, Mr. Albert Francis",26.0,1,1,248738,29.0000,NaN,2,0,0.0,1.0,1
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",18.0,0,0,2657,7.2292,NaN,0,0,1.0,0.0,0
9,901,0,3,"Davies, Mr. John Samuel",21.0,2,0,A/4 48871,24.1500,NaN,2,0,0.0,1.0,1

In [ ]:
# HighFare Label Encoding
data["HighFare"] = data.apply(lambda row : 1 if row["Fare"] > mean_fare else 0, axis = 1)
data.head(10)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male,FamilyStatus,HighFare
0,892,0,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,1,0,0.0,1.0,0,0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,2,0,1.0,0.0,1,0
2,894,0,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,1,0,0.0,1.0,0,0
3,895,0,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,2,0,0.0,1.0,0,0
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,2,0,1.0,0.0,1,0
5,897,0,3,"Svensson, Mr. Johan Cervin",14.0,0,0,7538,9.2250,NaN,2,0,0.0,1.0,0,0
6,898,1,3,"Connolly, Miss. Kate",30.0,0,0,330972,7.6292,NaN,1,0,1.0,0.0,0,0
7,899,0,2,"Caldwell, Mr. Albert Francis",26.0,1,1,248738,29.0000,NaN,2,0,0.0,1.0,1,0
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",18.0,0,0,2657,7.2292,NaN,0,0,1.0,0.0,0,0
9,901,0,3,"Davies, Mr. John Samuel",21.0,2,0,A/4 48871,24.1500,NaN,2,0,0.0,1.0,1,0

In [ ]:
# Age Group Label Encoding - Bining Method
max_age = data["Age"].max() # 76.0
min_age = data["Age"].min() # 0.17

bins = [0, 10, 18, 40, 70, 100]
labels = [0, 1, 2, 3, 4]
data['AgeGroup'] = pd.cut(data['Age'], bins=bins, labels=labels)


data.head(10)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male,FamilyStatus,HighFare,AgeGroup
0,892,0,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,1,0,0.0,1.0,0,0,2
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,2,0,1.0,0.0,1,0,3
2,894,0,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,1,0,0.0,1.0,0,0,3
3,895,0,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,2,0,0.0,1.0,0,0,2
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,2,0,1.0,0.0,1,0,2
5,897,0,3,"Svensson, Mr. Johan Cervin",14.0,0,0,7538,9.2250,NaN,2,0,0.0,1.0,0,0,1
6,898,1,3,"Connolly, Miss. Kate",30.0,0,0,330972,7.6292,NaN,1,0,1.0,0.0,0,0,2
7,899,0,2,"Caldwell, Mr. Albert Francis",26.0,1,1,248738,29.0000,NaN,2,0,0.0,1.0,1,0,2
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",18.0,0,0,2657,7.2292,NaN,0,0,1.0,0.0,0,0,1
9,901,0,3,"Davies, Mr. John Samuel",21.0,2,0,A/4 48871,24.1500,NaN,2,0,0.0,1.0,1,0,2

In [ ]:
# Name Label Encoding
uniqueNames = data["Name"].unique()
nameNumberMap = {}
for i, name in enumerate(uniqueNames):
  nameNumberMap[name] = i

data["Name"] = data["Name"].map(nameNumberMap)
data.head(10)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male,FamilyStatus,HighFare,AgeGroup
0,892,0,3,0,34.5,0,0,330911,7.8292,NaN,1,0,0.0,1.0,0,0,2
1,893,1,3,1,47.0,1,0,363272,7.0000,NaN,2,0,1.0,0.0,1,0,3
2,894,0,2,2,62.0,0,0,240276,9.6875,NaN,1,0,0.0,1.0,0,0,3
3,895,0,3,3,27.0,0,0,315154,8.6625,NaN,2,0,0.0,1.0,0,0,2
4,896,1,3,4,22.0,1,1,3101298,12.2875,NaN,2,0,1.0,0.0,1,0,2
5,897,0,3,5,14.0,0,0,7538,9.2250,NaN,2,0,0.0,1.0,0,0,1
6,898,1,3,6,30.0,0,0,330972,7.6292,NaN,1,0,1.0,0.0,0,0,2
7,899,0,2,7,26.0,1,1,248738,29.0000,NaN,2,0,0.0,1.0,1,0,2
8,900,1,3,8,18.0,0,0,2657,7.2292,NaN,0,0,1.0,0.0,0,0,1
9,901,0,3,9,21.0,2,0,A/4 48871,24.1500,NaN,2,0,0.0,1.0,1,0,2

In [ ]:
# Ticket Label Encoding
tickets = data["Ticket"].unique()
ticketNumberMap = {}
for i, ticket in enumerate(tickets):
  ticketNumberMap[ticket] = i

data["Ticket"] = data["Ticket"].map(ticketNumberMap)
data.head(10)

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male,FamilyStatus,HighFare,AgeGroup
0,892,0,3,0,34.5,0,0,0,7.8292,NaN,1,0,0.0,1.0,0,0,2
1,893,1,3,1,47.0,1,0,1,7.0000,NaN,2,0,1.0,0.0,1,0,3
2,894,0,2,2,62.0,0,0,2,9.6875,NaN,1,0,0.0,1.0,0,0,3
3,895,0,3,3,27.0,0,0,3,8.6625,NaN,2,0,0.0,1.0,0,0,2
4,896,1,3,4,22.0,1,1,4,12.2875,NaN,2,0,1.0,0.0,1,0,2
5,897,0,3,5,14.0,0,0,5,9.2250,NaN,2,0,0.0,1.0,0,0,1
6,898,1,3,6,30.0,0,0,6,7.6292,NaN,1,0,1.0,0.0,0,0,2
7,899,0,2,7,26.0,1,1,7,29.0000,NaN,2,0,0.0,1.0,1,0,2
8,900,1,3,8,18.0,0,0,8,7.2292,NaN,0,0,1.0,0.0,0,0,1
9,901,0,3,9,21.0,2,0,9,24.1500,NaN,2,0,0.0,1.0,1,0,2

In [ ]:
# Cabin Label Encoding
data["Cabin"] = data["Cabin"].map(lambda ele : "Unknown" if pd.isna(ele) else ele)

data.head(15)

uniqueCabins = data["Cabin"].unique()
cabinNumberMap = {}
for i, cabin in enumerate(uniqueCabins):
  cabinNumberMap[cabin] = i

data["Cabin"] = data["Cabin"].map(cabinNumberMap)
data

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male,FamilyStatus,HighFare,AgeGroup
0,892,0,3,0,34.5,0,0,0,7.8292,0,1,0,0.0,1.0,0,0,2
1,893,1,3,1,47.0,1,0,1,7.0000,0,2,0,1.0,0.0,1,0,3
2,894,0,2,2,62.0,0,0,2,9.6875,0,1,0,0.0,1.0,0,0,3
3,895,0,3,3,27.0,0,0,3,8.6625,0,2,0,0.0,1.0,0,0,2
4,896,1,3,4,22.0,1,1,4,12.2875,0,2,0,1.0,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,413,30.0,0,0,358,8.0500,0,2,0,0.0,1.0,0,0,2
414,1306,1,1,414,39.0,0,0,359,108.9000,76,0,1,1.0,0.0,0,1,2
415,1307,0,3,415,38.5,0,0,360,7.2500,0,2,0,0.0,1.0,0,0,2
416,1308,0,3,416,30.0,0,0,361,8.0500,0,2,0,0.0,1.0,0,0,2
417,1309,0,3,417,30.0,1,1,362,22.3583,0,0,0,0.0,1.0,1,0,2

In [ ]:
data.describe()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,HasCabin,Sex_female,Sex_male,FamilyStatus,HighFare
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,0.363636,2.265550,208.500000,30.216507,0.447368,0.392344,173.497608,35.625688,7.827751,1.401914,0.217703,0.363636,0.636364,0.394737,0.232057
std,120.810458,0.481622,0.841838,120.810458,12.635016,0.896760,0.981429,103.461117,55.840509,18.053850,0.854496,0.413179,0.481622,0.481622,0.489380,0.422651
min,892.000000,0.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,104.250000,23.000000,0.000000,0.000000,83.250000,7.895800,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1100.500000,0.000000,3.000000,208.500000,30.000000,0.000000,0.000000,170.500000,14.454200,0.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,1204.750000,1.000000,3.000000,312.750000,35.750000,1.000000,0.000000,260.750000,31.500000,0.000000,2.000000,0.000000,1.000000,1.000000,1.000000,0.000000
max,1309.000000,1.000000,3.000000,417.000000,76.000000,8.000000,9.000000,362.000000,512.329200,76.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
from scipy.stats import skew
skewness = data.apply(lambda x: skew(x))
skewness

NameError: name 'data' is not defined

In [ ]:
# Scaling
from sklearn import preprocessing
import numpy as np
columns = data.columns

# # 1. Z Score

# # Manually
# import statistics

# meanPassengerId = data["PassengerId"].mean()
# stDevPassengerId = statistics.stdev(data["PassengerId"])

# def getNewPID(ele):
#   return float(ele - meanPassengerId) / float(stDevPassengerId)

# passengerIdNew = data["PassengerId"].apply(lambda ele : getNewPID(ele))

# # Using Library
# scaler = preprocessing.StandardScaler()
# data = scaler.fit_transform(data)
# data = pd.DataFrame(data, columns=columns)

# for i in range(0, len(data["PassengerId"])):
#   print(passengerIdNew[i], data["PassengerId"][i], sep=" - ")

In [ ]:
# # 2. Min-Max Scaler

# # Manually
# minFare = data["Fare"].min()
# maxFare = data["Fare"].max()

# def getNewFare(ele):
#   return float(ele - minFare) / float(maxFare - minFare)

# fareNew = data["Fare"].apply(lambda ele : getNewFare(ele))
# fareNew

# # Using Library
# scaler = preprocessing.MinMaxScaler(feature_range=(0, 1))
# data = scaler.fit_transform(data)
# data = pd.DataFrame(data, columns=columns)

# for i in range(0, len(data["Fare"])):
#   print(fareNew[i], data["Fare"][i], sep=" - ")

In [ ]:
# # 3. Max Absolute Scaling

# # Manually
# maxFare = data["Fare"].max()

# def getNewFare(ele):
#   return float(ele) / float(maxFare)

# fareNew = data["Fare"].apply(lambda ele : getNewFare(ele))
# fareNew

# # Using Library
# # scaler = preprocessing.MaxAbsScaler()
# data = scaler.fit_transform(data)
# data = pd.DataFrame(data, columns=columns)

# for i in range(0, len(data["Fare"])):
#   print(fareNew[i], data["Fare"][i], sep=" - ")

In [ ]:
# # 4. Robust Scaling

# # Manually
# medianPassengerId = data["PassengerId"].median()

# q1 = np.percentile(data["PassengerId"], 25)
# q3 = np.percentile(data["PassengerId"], 75)
# iqr = q3 - q1

# def getNewPID(ele):
#     return float(ele - medianPassengerId) / float(iqr)

# passengerIdNew = data["PassengerId"].apply(lambda ele : getNewPID(ele))

# # Using Library
# scaler = preprocessing.RobustScaler()
# data = scaler.fit_transform(data)
# data = pd.DataFrame(data, columns=columns)

# for i in range(len(data["PassengerId"])):
#   print(passengerIdNew[i], data["PassengerId"][i], sep=" - ")

In [ ]:
# 5. Unit Vactor Scaling

# Manually
import math

dis = 0
for ele in data["Fare"]:
  dis += (ele * ele)
dis = float(math.sqrt(dis))

fareNew = data["Fare"].apply(lambda ele : float(ele) / float(dis))
fareNew

0      0.005786
1      0.005173
2      0.007160
3      0.006402
4      0.009081
         ...
413    0.005949
414    0.080484
415    0.005358
416    0.005949
417    0.016524
Name: Fare, Length: 418, dtype: float64